* {
    text-align: center;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

table tr td {
    background-color: antiquewhite;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    padding: 0;
    line-height: 0px;
}

#result {
    margin-top: 10px;
}

a {
    font-size: 18px;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
}